apiVersion: v1
kind: Secret
metadata:
  name: s3-config
stringData:
  MNT_UID: <MOUNT-USER-ID>
  MNT_GID: <MOUNT-GROUP-ID>
  S3_REGION: <YOUR-S3-REGION>
  S3_BUCKET: <YOUR-S3-BUCKET-NAME>
  AWS_KEY: <YOUR-AWS-TECH-USER-ACCESS-KEY>
  AWS_SECRET_KEY: <YOUR-AWS-TECH-USER-SECRET>

